*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.container{
    max-width: 80%;
    /* background-color: rgb(198, 152, 241); */
    padding: 34px;
    margin: auto;
}
.container h1, p{
    text-align: center;
}
h1{
    font-size: 4rem;
}
p{
    font-size: 19px;
}

input, textarea{
    
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    width: 80%;
    margin: 11px 0px;
    padding: 5px ;
    font-size: 18px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    color: white;
    background-color: black;
    padding: 8px 12px;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 14px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(2, 189, 189);
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}